<div class="col-md-6 col-md-offset-3 panel panel-default">
  <div class="panel-body">  <h2>Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <%= form_group_for f, :name do %>
         <div class="input-group">
          <!-- < %= f.label :name %><br /> -->
          <%= f.text_field :name, autofocus: true %>
        </div>
      <% end %>

      <%= form_group_for f, :email do %>
         <div class="input-group">
          <!-- < %= f.label :email %><br /> -->
          <%= f.email_field :email, autofocus: true %>
        </div>
      <% end %>

      <%= form_group_for f, :password do %>
        <div class="input-group">
          <!-- < %= f.label :password %> -->
          <!-- < % if @minimum_password_length %>
          <em>(< %= @ minimum_password_length %> characters minimum)</em>
          < % end %><br /> -->
          <%= f.password_field :password, autocomplete: "off" %>
        </div>
      <% end %>
      <%= form_group_for f, :password_confirmation do %>
        <div class="input-group">
          <!-- < %= f.label :password_confirmation %><br /> -->
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Sign up" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
