<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>
<p>
  <%= link_to(image_tag(@product.image.thumb.url, alt: 'Image'), @product.image.url, target: '_blank') if @product.image? %>
</p>
<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<% unless @product.category.nil? %>
	<p>
	  <strong>Category:</strong>
	  <%= link_to h(@product.category.name), @product.category %>
	</p>
<% end %>

<% if @product.attachments? %>
  <p>
    <ul>
      <% @product.attachments.each do |attachment| %>
        <li><%= link_to(image_tag(attachment.thumb.url, alt: 'Image'), attachment.url, target: '_blank') %></li>
      <% end %>
    </ul>
  </p>
<% end %>

<% if can? :update, @product %>
  <%= link_to 'Edit', edit_product_path(@product) %> |
<% end %>
<%= link_to 'Back', products_path %>
